{% extends "base_main.html" %}
{% set background_image_url = '../static/assets/img/home-bg.png' %}
{% block heading %}
    <div class="site-heading">
      <h1>Literary Diary</h1>
      <span class="subheading">A quiet place for readers to record, reflect, and share.</span>
    </div>
{% endblock %}
{% block main_content %}
    <!-- Note preview-->
      {% for note in all_notes %}
      <div class="post-preview">
        <a href="{{ url_for('notes.show_note', note_id=note.id) }}">
          <h2 class="post-title">{{ note.title }}</h2>
          <h3 class="post-subtitle">{{ note.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <!-- note.author is now a User object -->
          <a href="#">{{note.author.name}}</a>
          on {{note.date}}
          <!-- Only show delete button if user id is 1 (admin user) -->
          {% if current_user.id == 1 %}
          <a href="{{ url_for('notes.delete_note', note_id=note.id) }}">✘</a>
          {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Note -->
      <!-- Only show Create Note button if user is logged in -->
      {% if current_user.is_authenticated %}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{ url_for('notes.add_new_note')}}"
          >Create New Note</a
        >
      </div>
      {% endif %}

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="#!">Older Notes →</a>
      </div>
{% endblock %}